<a href="https://colab.research.google.com/github/SergeyK14/GU_3515/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/timothypesi/Data-Sets-For-Machine-Learning-/main/california_housing_train.csv')

In [ ]:
df.shape

(17000, 9)

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df.loc[df['median_income'] < 2, 'median_house_value']

0        66900.0
1        80100.0
2        85700.0
4        65500.0
7        48500.0
          ...
16984    70000.0
16989    58100.0
16990    78300.0
16994    76100.0
16998    85800.0
Name: median_house_value, Length: 2005, dtype: float64

In [ ]:
for column in df.columns[0: 2]:
  print(df[column])

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64
0        34.19
1        34.40
2        33.69
3        33.64
4        33.57
         ...
16995    40.58
16996    40.69
16997    41.84
16998    41.80
16999    40.54
Name: latitude, Length: 17000, dtype: float64

In [ ]:
df[(df['housing_median_age'] > 20) & (df['median_house_value'] > 70000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
16,-114.65,33.60,28.0,1678.0,322.0,666.0,256.0,2.9653,94900.0
25,-115.32,32.82,34.0,591.0,139.0,327.0,89.0,3.6528,100000.0
...,...,...,...,...,...,...,...,...,...
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df['median_house_value'].max()

500001.0

In [ ]:
df['median_house_value'].min()

14999.0

In [ ]:
df.describe()['median_house_value'].max()

500001.0

In [ ]:
df.describe()['median_house_value'].min()

14999.0

Показать максимальное median_house_value, где median_income = 3.125

In [ ]:
df[df['median_income'] == 3.125]['median_house_value'].max()

380400.0

Узнать максимальное population в зоне минимального значения median_house_value

In [ ]:
df[['population', 'median_house_value']][df['median_house_value'].min() == df['median_house_value']]

       population  median_house_value
568         490.0             14999.0
3226        628.0             14999.0
16643        85.0             14999.0
16801        18.0             14999.0

Определить дома с максимальной стоимостю, где кол-во людей от 0 до 500 (population)

In [ ]:
df[['population', 'median_house_value']][(df['population'] >= 0) & (df['population'] <= 500) & (df['median_house_value'] == df['median_house_value'].max())]

       population  median_house_value
215         473.0            500001.0
862          39.0            500001.0
1404        120.0            500001.0
1465        434.0            500001.0
1467        459.0            500001.0
...           ...                 ...
16260        63.0            500001.0
16309        13.0            500001.0
16353       179.0            500001.0
16357       163.0            500001.0
16512       151.0            500001.0

[125 rows x 2 columns]

Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [ ]:
df[(df['population'] >= 0) & (df['population'] <= 500)].median_house_value.mean()

206799.95140186916

Узнать какая максимальная households в зоне минимального значения population

In [ ]:
df[df['population'] == df['population'].min()].households.max()

4.0